*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    margin-top: 70px;
    color: rgb(16, 15, 13);
    font-family: "Ubuntu";
}
/* body{
    justify-content: center;
    display: flex;
    font-size: 20px;
    font-family: "Ubuntu";
} */
.content{
    position: absolute;
    top:50%;
    transform: translate(50%, -50%);
    box-shadow: rgba(0,0,0,0.25) 0px 14px 28px, rgba(0,0,0,0.22) 0px 10px 10px;
    padding: 40px;
    border-radius: 15px;
    padding-right: 80;
}
.lab{
    font-size: 33px;
    color: green;
}
#salary{
    width: 100%;
    margin: 25px 0px;
    padding: 13px 17px;
    font-size: 26px;
    border-radius: 6px;
    border: 1px solid gray;
    color: rgb(166, 91, 91);
    outline: 0;
    font-family: "Ubuntu";
}
#salary:focus{
    border: 2px solid blue;
}
.clickme{
    font-size: 25px;
    padding: 13px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: green;
    color: white;
    font-family: "Ubuntu";
}
.clickme:hover{
    background-color: brown;
}